body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//dark bg for dev
/*html {
  height: 100vh;
  background-color: #36454F;
}*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #000000;
}

* {
  box-sizing: border-box;
}